<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
    <!-- bootstrap-daterangepicker -->
    <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/admin/css/custom.css" rel="stylesheet">
    <link href="/node_modules/animate.css/animate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/node_modules/angular-toastr/dist/angular-toastr.css" />
    <link href="/admin/css/style.css" rel="stylesheet">
</head>

<body class="nav-md" ng-controller="AppController">
<div class="container body">
    <div class="main_container">
        <div ng-if="userAuth" class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="" class="site_title"><i class="fa fa-paw"></i> <span>Shoping.uz</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                    </div>
                    <div class="profile_info">
                        <span>Здравствуйте,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu animate fadeInRight">
                    <ng-include src="'app/views/menu.html'"></ng-include>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="#" ng-click="logout()">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <div ng-if="userAuth" class="top_nav animate fadeInLeft">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="images/img.jpg" alt="">John Doe
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="javascript:;"> Profile</a></li>
                                <li>
                                    <a href="javascript:;">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li><a href="javascript:;">Help</a></li>
                                <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log
                                    Out</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown">
                            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa fa-envelope-o"></i>
                                <span class="badge bg-green">6</span>
                            </a>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a>
                                        <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                                    </a>
                                </li>
                                <li>
                                    <div class="text-center">
                                        <a>
                                            <strong>See All Alerts</strong>
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" ng-class="{'main-no_auth':!userAuth}" role="main">
            <div ui-view></div>
        </div>
        <!-- /page content -->

        <div id="before-load">
            <!-- Иконка Font Awesome -->
            <span><img src="/images/loader.gif" /></span>
        </div>

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Shoping.uz
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>

<!-- Include Font Awesome. -->
<link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<!-- Include Froala Editor styles -->
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/froala_editor.min.css" />
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/froala_style.min.css" />

<!-- Include Froala Editor Plugins styles -->
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/char_counter.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/code_view.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/colors.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/emoticons.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/file.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/fullscreen.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/image_manager.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/image.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/line_breaker.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/table.css">
<link rel="stylesheet" href="../bower_components/froala-wysiwyg-editor/css/plugins/video.css">

<!-- Include Froala Editor -->
<script src="../bower_components/froala-wysiwyg-editor/js/froala_editor.min.js"></script>

<!-- Include Froala Editor Plugins -->
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/align.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/char_counter.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/code_beautifier.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/code_view.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/colors.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/emoticons.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/entities.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/file.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/font_family.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/font_size.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/fullscreen.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/image.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/image_manager.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/inline_style.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/line_breaker.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/link.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/lists.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/paragraph_format.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/paragraph_style.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/quote.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/save.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/table.min.js"></script>
<script src="../bower_components/froala-wysiwyg-editor/js/plugins/video.min.js"></script>
<!-- End Froala -->

<script src="/node_modules/angular/angular.min.js"></script>

<script src="../node_modules/angular-froala/src/angular-froala.js"></script>

<script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/node_modules/angular-animate/angular-animate.min.js"></script>
<script src="/admin/app/app.js"></script>
<script src="/admin/app/controllers/AppController.js"></script>
<script src="/admin/app/controllers/IndexController.js"></script>
<script src="/admin/app/controllers/LoginController.js"></script>
<script src="/admin/app/controllers/PostsController.js"></script>
<script src="/admin/app/controllers/PostController.js"></script>
<script src="/admin/app/controllers/EditorController.js"></script>
<script src="/admin/app/services/services.js"></script>
<script src="/admin/app/services/rest.js"></script>
<script src="/admin/app/constants/constants.js"></script>

<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/vendors/Flot/jquery.flot.js"></script>
<script src="/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/vendors/Flot/jquery.flot.time.js"></script>
<script src="/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="/vendors/moment/min/moment.min.js"></script>
<script src="/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="/admin/js/custom.js"></script>

<!-- Вспылавающая нотификация(пуши) -->
<script type="text/javascript" src="/node_modules/angular-toastr/dist/angular-toastr.js"></script>
<script type="text/javascript" src="/node_modules/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

<!-- Дата грид -->
<script src="/node_modules/angular-data-grid/dist/pagination.min.js"></script>
<script src="/node_modules/angular-data-grid/dist/dataGrid.min.js"></script>

<!-- Загрузка файлов -->
<script type="text/javascript" src="/node_modules/angular-file-upload/dist/angular-file-upload.js"></script>

</body>
</html>
